#login{
	padding: 10px;
	max-width: 360px;
	text-align: center;
	border-radius: 4px;
	background: #f5f5f5;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#login input{
	width: 70%;
	margin: 5px;
	height: 25px;
	padding: 2px 8px;
	background: #f9f9f9;
	border: 1px solid #ccc;
}

#login button{
	margin: 5px;
	height: 30px;
	padding: 2px 8px;
}